html, body, div, span, h1, h2, h3, h4, h5, p, a, font, img, u, ol, ul, li, tr, th, td, dl, dt, dd, img, button, main {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-size: 100%;
  text-decoration: none;  
  font-family: 'Roboto', sans-serif;
}


body {
  background-image: url(estrada.jpg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #000;
  border-radius: 10px;
  margin: 100px 250px 0px 250px;
}

main > h1 {
  font-size: clamp(2em, 2em + 1vw, 1.5em);
  font-family: var(--font-family);
}